body{
	margin: 0; 
	width: 100vw; 
	height: 100vh; 
	overflow: hidden;
	background: #212121; /*212121;  FF7272*/
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	color: #fff;
}

.tooltip {
	pointer-events: none; 
	position: absolute; 
	z-index: 9;
	font-size: 12px; 
	padding: 8px;
	background: #262626; 
	color: #fff; 
	min-width: 160px; 
	max-height: 240px; 
	overflow-y: hidden;
}

#control-panel {
	z-index: 10;
    position: fixed;
    top: 20px;
    left: 20px;
    padding: 20px;
    width: 320px;
    background: rgba(40,40,40,0.8);
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
}
#title{
	font-family: 'Nixie One', sans-serif; /*Major Mono Display*/
	font-size: 45px;
	text-align: center;
	margin-top: 0px;
	margin-bottom: 0px;
	
}

p {
	line-height: 1.5;
	text-align: center;
	font-size: 10pt;
}
p.g {
	line-height: 2.5;
	text-align: center;
	margin: 0; 
	display: block;
    width: 100%;
}
p.d1{
	margin-bottom: 0px;
}
p.d2{
	margin-top: 0px;
}

.github-button{
	
}

#GraphContainer{
	z-index: 1;
	position:fixed;
	right:20px;
	bottom:30px;
	background: rgba(40,40,40,0.8);
	box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
	width: 750px;
}

input[type=range] {
    -webkit-appearance: none;
    vertical-align: middle;
    width: 100px;
}
input[type=range]::-webkit-slider-runnable-track {
    width: 100px;
    height: 2px;
    background: #FFFFFF;
	border-radius: 0px;
	border: 0px solid #000000;
	cursor: pointer;
	animate: 0.2s;
	box-shadow: 0px 0px 0px #000000;
	vertical-align: middle;
}
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
	box-shadow: 0px 0px 0px #000000;
	border: 0px solid #000000;
	height: 15px;
	width: 5px;
	border-radius: 0px;
	background: rgb(255, 25, 100);
	cursor: pointer;
	margin-top: -7px;
}
input[type=range]:focus {
    outline: none;
}
input[type=range]:focus::-webkit-slider-runnable-track {
    background: #FFFFFF;
}

input[type=range]::-moz-range-track {
	width: 100px;
    height: 2px;
    background: #FFFFFF;
	border-radius: 0px;
	border: 0px solid #000000;
	cursor: pointer;
	animate: 0.2s;
	box-shadow: 0px 0px 0px #000000;
}
input[type=range]::-moz-range-thumb {
    -webkit-appearance: none;
	box-shadow: 0px 0px 0px #000000;
	border: 0px solid #000000;
	height: 15px;
	width: 5px;
	border-radius: 0px;
	background: rgb(255, 25, 100);
	cursor: pointer;
}

/*hide the outline behind the border*/
input[type=range]:-moz-focusring{
    outline: none;
}

input[type=range]::-ms-track {
    width: 100px;
    height: 5px;
    
    /*remove bg colour from the track, we'll use ms-fill-lower and ms-fill-upper instead */
    background: transparent;
    
    /*leave room for the larger thumb to overflow with a transparent border */
    border-color: transparent;
    border-width: 6px 0;

    /*remove default tick marks*/
    color: transparent;
}
input[type=range]::-ms-fill-lower {
    background: #fff;
    border-radius: 10px;
}
input[type=range]::-ms-fill-upper {
    background: #fff;
    border-radius: 10px;
}
input[type=range]::-ms-thumb {
	box-shadow: 0px 0px 0px #000000;
	border: 0px solid #000000;
	height: 15px;
	width: 5px;
	border-radius: 0px;
	background: rgb(255, 25, 100);
	cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
    background: #fff;
}
input[type=range]:focus::-ms-fill-upper {
    background: #fff;
}
  
